div.card.page-card {
  background-color: transparent;
  border: 0;
}

div.card.page-card div.card-header {
  background-color: transparent;
  border: 0;
}

div.card.page-card div.card-block {
  color: white;
  padding-left: 1em;
}
