.page-card {
  background-color: transparent;
  border: 0;
  color: white;

  div.card-block {
    padding-left: 1em;
  }

  .card-header {
    background-color: transparent;
    border-bottom: transparent;
  }
}
