.MyButton {
  vertical-align: top;
}

.MyButton button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.MyButton button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.MyButton button {
  transition: 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.MyButton button:focus {
  outline: 0;
}
