.OnlinePresence {
  color: white;

    a svg {
    width: 2em;
    height: 2em;
    padding-right: 0.3em;
    fill: white;
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
  }

  a svg:hover {
    fill: #161614;
  }
}
