.Intro {
  color: #ffffff;
  font-family: 'Didact Gothic', sans-serif;
  display: inline-block;
  padding-bottom: 20px;
}

.Intro h1 {
  font-size: 64px;
  margin: 0;
  padding: 0;
}

.Intro h2 {
  font-size: 20px;
  float: left;
  margin: 0;
  padding: 0;
}
